// Custom Named Colors


// Accent Colors (Color Wheel)

$red:        hsla(354, 70%, 54%, 1);  // #DC3545
$vermilion:  hsla(14, 100%, 56%, 1);  // #FF5520
$orange:     hsla(27, 98%, 53%, 1);   // #FD7E13
$amber:      hsla(45, 100%, 52%, 1);  // #ffc000
$yellow:     hsla(53, 100%, 57%, 1);  // #FFe724
$chartreuse: hsla(88, 81%, 43%, 1);   // #72C415
$green:      hsla(134, 61%, 41%, 1);  // #28A745
$viridian:   hsla(184, 72%, 43%, 1);  // #1EB1BB
$blue:       hsla(201, 99%, 39%, 1);  // #0181C5
$indigo:     hsla(224, 92%, 28%, 1);  // #062989
$violet:     hsla(253, 53%, 50%, 1);  // #583CC1
$purple:     hsla(277, 63%, 38%, 1);  // #7024A0
$magenta:    hsla(319, 73%, 47%, 1);  // #CE2097
$teal:       hsla(161, 70%, 46%, 1);  // #23c895
$pink:       hsla(1, 100%, 75%, 1);   // #ff8381
$brown:      hsla(32, 75%, 22%, 1);   // #643C0E
$bronze:     hsla(41, 30%, 62%, 1);   // #BBA981
$beige:      hsla(36, 54%, 84%, 1);   // #ECDABF
$warm-gray:  hsla(320, 7%, 82%, 1);   // #D4CED2
$cool-gray:  hsla(206, 15%, 82%, 1);  // #C9D1D7
$french-gray:hsla(0, 8%, 69%, 1);     // #B5A9A9

// Grayscale Colors

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// Theme Colors

$theme-color-001:   mix($warm-gray, $black, 20%);
$theme-color-002:   $gray-300;
$theme-color-003:   $gray-700;
$theme-color-light: lighten($warm-gray, 15%);
$theme-color-dark:  $gray-900;

$colors: (
  "red": $red,
  "vermilion": $vermilion,
  "orange": $orange,
  "amber": $amber,
  "yellow": $yellow,
  "chartreuse": $chartreuse,
  "green": $green,
  "viridian": $viridian,
  "cyan": $viridian,
  "blue": $blue,
  "indigo": $indigo,
  "violet": $violet,
  "purple": $purple,
  "magenta": $magenta,
  "teal": $teal,
  "beige": $beige,
  "pink": $pink,
  "brown": $brown,
  "bronze": $bronze,
  "cool-gray": $cool-gray,
  "warm-gray": $warm-gray,
  "french-gray": $french-gray, 
  "black": $black,
  "white": $white
);

$theme-colors: (
  "primary": $theme-color-001,
  "secondary": $theme-color-002,
  "info": $theme-color-003,
  "light": $theme-color-light,
  "dark": $theme-color-dark,
  "success": mix($black, $green, 15%),
  "warning": mix($black, $amber, 5%),
  "danger": mix($black, $red, 15%)
);

$body-bg:                   $white;
$body-color:                $gray-900;
$border-color:              $gray-300;

