
.breadcrumb {
  background-color: transparent !important;
  margin: 0 !important;
  width: auto !important;
  padding: 5px 0;
  /* Only Needed when parent .container is used 
    Exclude when using .container-fluid
    &:first-child {
      padding-left: 0 !important;
    }*/
  .breadcrumb-item {
    color: #888;
    text-decoration: none !important;
    font-family: 'Calibri', 'Arial', 'Helvetica', sans-serif;
    font-stretch: condensed;
    font-weight: 100;
    font-size: 1.1rem;

    a {
      color: #888;

      &:hover {
        color: map-get($theme-colors, 'primary');
        text-decoration: none !important;
        border-bottom: none !important;
      }
    }

    &.active {
      color: #000 !important;
    }
  }
}
